UPDATE events SET description='', who_you_meet='', score_cost=, score_deal_flow=, score_investor_access=, score_strategic_partnerships=, score_government_access=, score_market_intelligence=, score_industry_insights=, score_brand_visibility=, score_learning_development=, score_long_term_opportunity=, total_score= WHERE name='Tier';
UPDATE events SET description='', who_you_meet='', score_cost=, score_deal_flow=, score_investor_access=, score_strategic_partnerships=, score_government_access=, score_market_intelligence=, score_industry_insights=, score_brand_visibility=, score_learning_development=, score_long_term_opportunity=, total_score= WHERE name='Tier 1';
UPDATE events SET description='', who_you_meet='', score_cost=, score_deal_flow=, score_investor_access=, score_strategic_partnerships=, score_government_access=, score_market_intelligence=, score_industry_insights=, score_brand_visibility=, score_learning_development=, score_long_term_opportunity=, total_score= WHERE name='Tier 2';
UPDATE events SET description='', who_you_meet='', score_cost=, score_deal_flow=, score_investor_access=, score_strategic_partnerships=, score_government_access=, score_market_intelligence=, score_industry_insights=, score_brand_visibility=, score_learning_development=, score_long_term_opportunity=, total_score= WHERE name='Tier 3';

